#main-container {
  border-radius: 12px;
  background-color: var(--color-bg-front);
  width: 70%;
  margin: auto;
}

#header-container{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem 0 0 0 ;
  color: var(--color-text-alt);
}

.carousel-item {
  height: 400px;
}

.my-carousel-caption {
  padding-top: 2rem;
  text-align: center;
  color: var(--color-text-alt);
  font-size: 15px;
}

.carousel-img {
  display: flex;
  justify-content: center;
  height: 260px;
}