.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(106, 140, 97, 0.824);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.6);
}

.user-info-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-info-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info-label {
  color: var(--color-bg) !important;
  font-weight: bold;
  margin-right: 10px;
}

.user-info-value {
  color: black !important;
  /* font-weight: bold; */
  background-color: var(--color-text-light);
  padding: 0 3px;
  border-radius: 5px !important;
}

.user-info-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-info-button {
  margin: 2px;
  font-weight: bold !important;
  border: none !important;
}

.user-info-button>a,
.user-info-button>a:hover {
  text-decoration: none;
  color: inherit;
}

#new-button {
  background-color: rgb(67, 116, 222) !important;
}

#new-button:hover {
  background-color: rgb(12, 60, 164) !important;
}

#view-button {
  background-color: rgb(154, 77, 178) !important;
}

#view-button:hover {
  background-color: rgb(86, 25, 104) !important;
}

#buy-button {
  background-color: rgb(238, 97, 37) !important;
}

#buy-button:hover {
  background-color: rgb(143, 46, 5) !important
}