.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.user-info-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-info-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info-label {
  color: black !important;
  font-weight: bold;
  margin-right: 10px;
}

.user-info-value {
  color: black !important;
  /* font-weight: bold; */
  background-color: var(--color-text-light);
  padding: 0 3px;
  border-radius: 5px !important;
}

.user-info-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-info-button {
  margin: 2px;
  /* font-weight: 700; */
  font-weight: bold !important;

}

.user-info-button>a,
.user-info-button>a:hover {
  text-decoration: none;
  color: inherit;
}