* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background: var(--color-bg);
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 85vmax;
    height: 65vh;
    border-radius: 12px;
    background-color: var(--color-bg-front);
    padding: 0;
    overflow: scroll;
}