@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --gradient-text: linear-gradient(#e66465, #9198e5);

  --border-radius: 12px;

  --color-bg: #4d1111e7;
  --color-bg-front: #e6b1b1f1;

  --color-text: #cb443a;
  --color-text-alt: #961f16;
  --color-text-light: #f0d6d4;
  --color-text-light-alt: #bd9b98;

  --color-button: #961f16;
  --color-button-bg-username: #c0d9ba;
}