@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 202.67%);

  --color-bg: #fbecd5;
  --color-text: #430c07;
  --color-text-alt: #8c140c;
  --color-text-alt2: #cb443a;
  
  --color-button: #961f16;
  --color-button-hover: #d6a09c;
}