@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;

  --gradient-text: linear-gradient(#e66465, #9198e5);

  --border-radius: 12px;

  --color-bg: #4d1111e7;
  --color-bg-transparent: #4d1111a7;
  --color-bg-front: #e6b1b1f1;
  --color-transparent: #ffffff00;

  --color-text: #cb443a;
  --color-text-alt: #c5382e;
  --color-text-light: #f0d6d4;
  --color-text-light-alt: #bd9b98;

  --color-button: #961f16;
  --color-button-hover: rgb(222, 178, 178);
  --color-button-bg-username: rgba(192, 217, 186, 0.824);
}